.selector-wrapper {
  display: flex;
  justify-content: center;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 60rem;

  background-color: #eee;
}

.selector > .selector-input {
  margin: 1rem;
  display: flex;
  gap: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
}

.selector > .selector-input > select {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.selector > .selector-input > input[type="text"] {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.selector > .selector-input > select {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.selector > .submit {
  background: none;
  border: none;

  background-color: lightblue;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;

  margin: 1rem;

  cursor: pointer;

  transition-duration: 0.1s;
}

.selector > .submit:active {
  transform: scale(0.93);
}

.selector > .selector-input > .new-row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
